# 작동 확인

In [1]:
import mysql.connector

remote = mysql.connector.connect (
    host = "jinhyuk2db.c94oygiiukcg.ap-northeast-2.rds.amazonaws.com",
    port = 3306,
    user = "root",
    password = "jinhyuk2dacibul",
    database = "project1"
)

cur = remote.cursor()

remote.close()

# CSV 파일 열기

In [ ]:
import pandas as pd

df1801_1903 = pd.read_csv("/home/dan/dev_ws/EDA/project/data/Rental/rent_daily_18.01~19.03.csv", encoding="cp949")
df1904_1905 = pd.read_excel("/home/dan/dev_ws/EDA/project/data/Rental/rent_daily_19.04~05.xlsx")
df1904_1905['대여일자'] = df1904_1905['대여일자'].astype(str)

df1906_1911 = pd.read_excel("/home/dan/dev_ws/EDA/project/data/Rental/rent_daily_19.06~19.11.xlsx")
df1906_1911.rename(columns={'대여일시' : '대여일자'}, inplace=True)
df1906_1911['대여일자'] = df1906_1911['대여일자'].astype(str)

#----------------- 아래는 고장난 파일 -----------------
# df1912_2005 = pd.read_csv("/home/dan/dev_ws/EDA/project/data/Rental/rent_daily_19.12~20.05.csv", encoding="cp949")
# df2006_2006 = pd.read_csv("/home/dan/dev_ws/EDA/project/data/Rental/rent_daily_20.06.01~06.30.csv", sep=',', encoding="EUC-KR")

df2007_2101 = pd.read_csv("/home/dan/dev_ws/EDA/project/data/Rental/rent_daily_20.07~21.01.csv", encoding="cp949", usecols=[0,1])
df2007_2101.rename(columns={'대여일시' : '대여일자'}, inplace=True)

df2102_2106 = pd.read_csv("/home/dan/dev_ws/EDA/project/data/Rental/rent_daily_21.02-06.csv", encoding="cp949", usecols=[0,1])
df2102_2106.rename(columns={'대여일시' : '대여일자'}, inplace=True)

df2107_2112 = pd.read_csv("/home/dan/dev_ws/EDA/project/data/Rental/rent_daily_21.07-12.csv", encoding="cp949", usecols=[0,1])
df2107_2112.rename(columns={'대여일시' : '대여일자'}, inplace=True)

df2201_2206 = pd.read_csv("/home/dan/dev_ws/EDA/project/data/Rental/rent_daily_22.01-06.csv", encoding="cp949", usecols=[0,1])
df2201_2206.rename(columns={'대여일시' : '대여일자'}, inplace=True)

df2207_2212= pd.read_csv("/home/dan/dev_ws/EDA/project/data/Rental/rent_daily_22.07-12.csv", encoding="cp949", usecols=[0,1])
df2207_2212.rename(columns={'대여일시' : '대여일자'}, inplace=True)

df2301_2306 = pd.read_excel("/home/dan/dev_ws/EDA/project/data/Rental/rent_daily_23.01-06.xlsx")
df2301_2306.rename(columns={'대여일시' : '대여일자'}, inplace=True)
df2301_2306['대여일자'] = df2301_2306['대여일자'].astype(str)

df2307_2312 = pd.read_csv("/home/dan/dev_ws/EDA/project/data/Rental/rent_daily_23.07-12.csv", encoding="cp949")
df2401_2406 = pd.read_csv("/home/dan/dev_ws/EDA/project/data/Rental/rent_daily_24.01-06.csv", encoding="cp949")
df2407_2412 = pd.read_csv("/home/dan/dev_ws/EDA/project/data/Rental/rent_daily_24.07-12.csv", encoding="cp949")



df1904_1905.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대여일자    61 non-null     object
 1   대여건수    61 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.1+ KB

# concat결합 & 결측치 제거 & 전처리

In [101]:
df_daily_all = pd.concat([df1801_1903, df1904_1905, df1906_1911, df2007_2101, 
                          df2102_2106, df2107_2112, df2201_2206, df2207_2212, 
                          df2301_2306, df2307_2312, df2401_2406, df2407_2412])

df_daily_all = df_daily_all.dropna()

#---------------------대여건수 INT 만들기----------------------

rent_int = []

for idx, row in df_daily_all.iterrows():
    
    try:
        new = row['대여건수'].replace(',', '')
    except:
        new = row['대여건수']
    finally:    
        new = int(new)
        
    rent_int.append(new)


df_daily_all['대여건수'] = rent_int

df_daily_all

           대여일자   대여건수
0    2018-01-01   4950
1    2018-01-02   7136
2    2018-01-03   7156
3    2018-01-04   7102
4    2018-01-05   7705
..          ...    ...
179  2024-12-27  68333
180  2024-12-28  45732
181  2024-12-29  43614
182  2024-12-30  79482
183  2024-12-31  72945

[2343 rows x 2 columns]

# CSV 파일로 저장

In [102]:
df_daily_all.to_csv("/home/dan/dev_ws/EDA/project/data/Rental/rent_daily_all.csv", 
                sep=",", index=False, encoding="utf-8")

# DB Table (rental_daily_summary_B) 만들기

In [3]:
remote = mysql.connector.connect (
    host = "jinhyuk2db.c94oygiiukcg.ap-northeast-2.rds.amazonaws.com",
    port = 3306,
    user = "root",
    password = "jinhyuk2dacibul",
    database = "project1"
)

cursor = remote.cursor(buffered=True)



cursor.execute("CREATE TABLE rental_daily_summary_B \
               (rental_date DATE, rental_count BIGINT NOT NULL)")

remote.commit()
remote.close()

# DB 에 집어넣기

In [104]:
import mysql.connector

remote = mysql.connector.connect (
    host = "jinhyuk2db.c94oygiiukcg.ap-northeast-2.rds.amazonaws.com",
    port = 3306,
    user = "root",
    password = "jinhyuk2dacibul",
    database = "project1"
)

cursor = remote.cursor(buffered=True)

sql= """INSERT INto rental_daily_summary_B VALUES (%s, %s)"""

for i,row in df_daily_all.iterrows(): 

    date = row['대여일자']
    count = row['대여건수']

    cursor.execute(sql, (date, count))

    print(date, count)

    
remote.commit()
remote.close()

2018-01-01 4950
2018-01-02 7136
2018-01-03 7156
2018-01-04 7102
2018-01-05 7705
2018-01-06 5681
2018-01-07 5220
2018-01-08 6309
2018-01-09 5988
2018-01-10 4476
2018-01-11 4337
2018-01-12 4401
2018-01-13 3756
2018-01-14 4675
2018-01-15 6993
2018-01-16 7421
2018-01-17 6990
2018-01-18 7054
2018-01-19 8329
2018-01-20 6148
2018-01-21 5574
2018-01-22 4929
2018-01-23 4263
2018-01-24 3370
2018-01-25 3307
2018-01-26 3116
2018-01-27 2833
2018-01-28 3028
2018-01-29 4425
2018-01-30 3591
2018-01-31 4104
2018-02-01 5821
2018-02-02 6557
2018-02-03 3499
2018-02-04 2642
2018-02-05 4213
2018-02-06 4257
2018-02-07 5028
2018-02-08 6114
2018-02-09 6905
2018-02-10 4829
2018-02-11 3047
2018-02-12 5231
2018-02-13 6863
2018-02-14 7477
2018-02-15 3935
2018-02-16 3047
2018-02-17 3494
2018-02-18 5191
2018-02-19 8563
2018-02-20 8899
2018-02-21 8342
2018-02-22 8580
2018-02-23 6408
2018-02-24 7198
2018-02-25 7595
2018-02-26 10712
2018-02-27 10064
2018-02-28 4230
2018-03-01 5761
2018-03-02 9388
2018-03-03 16029
2018-03-04 5373
2018-03-05 9943
2018-03-06 14028
2018-03-07 12925
2018-03-08 8812
2018-03-09 13573
2018-03-10 13324
2018-03-11 15136
2018-03-12 15913
2018-03-13 19514
2018-03-14 24911
2018-03-15 7091
2018-03-16 18415
2018-03-17 20165
2018-03-18 11740
2018-03-19 10297
2018-03-20 13205
2018-03-21 8225
2018-03-22 16420
2018-03-23 17904
2018-03-24 14914
2018-03-25 13942
2018-03-26 15505
2018-03-27 17456
2018-03-28 21232
2018-03-29 21436
2018-03-30 24411
2018-03-31 25673
2018-04-01 22994
2018-04-02 28139
2018-04-03 26817
2018-04-04 26034
2018-04-05 2833
2018-04-06 13297
2018-04-07 13088
2018-04-08 7758
2018-04-09 23925
2018-04-10 20423
2018-04-11 25557
2018-04-12 28885
2018-04-13 29497
2018-04-14 8216
2018-04-15 12721
2018-04-16 29589
2018-04-17 28236
2018-04-18 23499
2018-04-19 20400
2018-04-20 28351
2018-04-21 33144
2018-04-22 8095
2018-04-23 1037
2018-04-24 24560
2018-04-25 33728
2018-04-26 32547
2018-04-27 32989
2018-04-28 33738
2018-04-29 35159
2018-04-30 32629
2018-05-01 34593
2018-05-02 8374
2018-05-03 25963
2018-05-04 34058
2018-05-05 37389
2018-05-06 19809
2018-05-07 40026
2018-05-08 33738
2018-05-09 37851
2018-05-10 36549
2018-05-11 33923
2018-05-12 3551
2018-05-13 35668
2018-05-14 35918
2018-05-15 36476
2018-05-16 7072
2018-05-17 3802
2018-05-18 19629
2018-05-19 43471
2018-05-20 39036
2018-05-21 42039
2018-05-22 17444
2018-05-23 35975
2018-05-24 36858
2018-05-25 37569
2018-05-26 37761
2018-05-27 39534
2018-05-28 40775
2018-05-29 29925
2018-05-30 39214
2018-05-31 41619
2018-06-01 41970
2018-06-02 41677
2018-06-03 40565
2018-06-04 44014
2018-06-05 44118
2018-06-06 40440
2018-06-07 42038
2018-06-08 46516
2018-06-09 32839
2018-06-10 39277
2018-06-11 30605
2018-06-12 46201
2018-06-13 49116
2018-06-14 30511
2018-06-15 45103
2018-06-16 46457
2018-06-17 43484
2018-06-18 36316
2018-06-19 47296
2018-06-20 46612
2018-06-21 47762
2018-06-22 47478
2018-06-23 45663
2018-06-24 39548
2018-06-25 46565
2018-06-26 6391
2018-06-27 41128
2018-06-28 27757
2018-06-29 42765
2018-06-30 26911
2018-07-01 4358
2018-07-02 6261
2018-07-03 41350
2018-07-04 45741
2018-07-05 39804
2018-07-06 49521
2018-07-07 48015
2018-07-08 48132
2018-07-09 8155
2018-07-10 27956
2018-07-11 35390
2018-07-12 43611
2018-07-13 44976
2018-07-14 39205
2018-07-15 34957
2018-07-16 40964
2018-07-17 43323
2018-07-18 42609
2018-07-19 42316
2018-07-20 40337
2018-07-21 32360
2018-07-22 28250
2018-07-23 38003
2018-07-24 37486
2018-07-25 39225
2018-07-26 37796
2018-07-27 34985
2018-07-28 24649
2018-07-29 28317
2018-07-30 36701
2018-07-31 35262
2018-08-01 31169
2018-08-02 31321
2018-08-03 31646
2018-08-04 28174
2018-08-05 26989
2018-08-06 29113
2018-08-07 36983
2018-08-08 37140
2018-08-09 32216
2018-08-10 36178
2018-08-11 31293
2018-08-12 27363
2018-08-13 36076
2018-08-14 37659
2018-08-15 29270
2018-08-16 41358
2018-08-17 47634
2018-08-18 45629
2018-08-19 42281
2018-08-20 44243
2018-08-21 41964
2018-08-22 42425
2018-08-23 23616
2018-08-24 17319
2018-08-25 47109
2018-08-26 32200
2018-08-27 23382
2018-08-28 13495
2018-08-29 13001
2018-08-30 33158
2018-08-31 46101
2018-09-01 43847
2018-09-02 48427
2018-09-03 16086
2018-09-04 50500
2018-09-05 53984
2018-09-06 46532
2018-09-07 53230
2018-09-08 55470
2018-09-09 54213
2018-09-10 55188
2018-09-11 56212
2018-09-12 57363
2018-09-13 55791
2018-09-14 49383
2018-09-15 44808
2018-09-16 24317
2018-09-17 55335
2018-09-18 57691
2018-09-19 44096
2018-09-20 23616
2018-09-21 32242
2018-09-22 49688
2018-09-23 38635
2018-09-24 36406
2018-09-25 49595
2018-09-26 57730
2018-09-27 58200
2018-09-28 59649
2018-09-29 63866
2018-09-30 55893
2018-10-01 51808
2018-10-02 57280
2018-10-03 64671
2018-10-04 59413
2018-10-05 7772
2018-10-06 32510
2018-10-07 57873
2018-10-08 57247
2018-10-09 61525
2018-10-10 44876
2018-10-11 44489
2018-10-12 48529
2018-10-13 49203
2018-10-14 49025
2018-10-15 49503
2018-10-16 51236
2018-10-17 49795
2018-10-18 49560
2018-10-19 52122
2018-10-20 49815
2018-10-21 48346
2018-10-22 49889
2018-10-23 40223
2018-10-24 50343
2018-10-25 52181
2018-10-26 24308
2018-10-27 33699
2018-10-28 20882
2018-10-29 36107
2018-10-30 37382
2018-10-31 39009
2018-11-01 41911
2018-11-02 44917
2018-11-03 40640
2018-11-04 39973
2018-11-05 43870
2018-11-06 39680
2018-11-07 29492
2018-11-08 2730
2018-11-09 34673
2018-11-10 34194
2018-11-11 23926
2018-11-12 38706
2018-11-13 40263
2018-11-14 41973
2018-11-15 39702
2018-11-16 37629
2018-11-17 28167
2018-11-18 26464
2018-11-19 34352
2018-11-20 34855
2018-11-21 28140
2018-11-22 29239
2018-11-23 28620
2018-11-24 11255
2018-11-25 19946
2018-11-26 30698
2018-11-27 28806
2018-11-28 29177
2018-11-29 28977
2018-11-30 28557
2018-12-01 24622
2018-12-02 23035
2018-12-03 10638
2018-12-04 20029
2018-12-05 23535
2018-12-06 23788
2018-12-07 15148
2018-12-08 9824
2018-12-09 8749
2018-12-10 17987
2018-12-11 20805
2018-12-12 19339
2018-12-13 11765
2018-12-14 14932
2018-12-15 12720
2018-12-16 10783
2018-12-17 17449
2018-12-18 20917
2018-12-19 21970
2018-12-20 22881
2018-12-21 23422
2018-12-22 17127
2018-12-23 13601
2018-12-24 16579
2018-12-25 12437
2018-12-26 17112
2018-12-27 11325
2018-12-28 10445
2018-12-29 8083
2018-12-30 7864
2018-12-31 11911
2019-01-01 8601
2019-01-02 14360
2019-01-03 16344
2019-01-04 17308
2019-01-05 12380
2019-01-06 11094
2019-01-07 16795
2019-01-08 15833
2019-01-09 15819
2019-01-10 17894
2019-01-11 19271
2019-01-12 14519
2019-01-13 11751
2019-01-14 14818
2019-01-15 14761
2019-01-16 15823
2019-01-17 17960
2019-01-18 18901
2019-01-19 14883
2019-01-20 11191
2019-01-21 17240
2019-01-22 19885
2019-01-23 19163
2019-01-24 20057
2019-01-25 18159
2019-01-26 13203
2019-01-27 12440
2019-01-28 17317
2019-01-29 19477
2019-01-30 20677
2019-01-31 17649
2019-02-01 17696
2019-02-02 13742
2019-02-03 2010
2019-02-04 8562
2019-02-05 9119
2019-02-06 13694
2019-02-07 14533
2019-02-08 14782
2019-02-09 11760
2019-02-10 9759
2019-02-11 16881
2019-02-12 18862
2019-02-13 18411
2019-02-14 19376
2019-02-15 9213
2019-02-16 12641
2019-02-17 13390
2019-02-18 19916
2019-02-19 11689
2019-02-20 19572
2019-02-21 20995
2019-02-22 21727
2019-02-23 23742
2019-02-24 21933
2019-02-25 23445
2019-02-26 28010
2019-02-27 28652
2019-02-28 27431
2019-03-01 21751
2019-03-02 22503
2019-03-03 24382
2019-03-04 26887
2019-03-05 24042
2019-03-06 25379
2019-03-07 31156
2019-03-08 33073
2019-03-09 32421
2019-03-10 31050
2019-03-11 28539
2019-03-12 25537
2019-03-13 28653
2019-03-14 30997
2019-03-15 20481
2019-03-16 26057
2019-03-17 35622
2019-03-18 36313
2019-03-19 39908
2019-03-20 16204
2019-03-21 26455
2019-03-22 32363
2019-03-23 21696
2019-03-24 31622
2019-03-25 34226
2019-03-26 42644
2019-03-27 35832
2019-03-28 38806
2019-03-29 43893
2019-03-30 14001
2019-03-31 22326
2019-04-01 37660
2019-04-02 42029
2019-04-03 43257
2019-04-04 45681
2019-04-05 45643
2019-04-06 25902
2019-04-07 55943
2019-04-08 52643
2019-04-09 24734
2019-04-10 26421
2019-04-11 51013
2019-04-12 55125
2019-04-13 57020
2019-04-14 28467
2019-04-15 55422
2019-04-16 60566
2019-04-17 62522
2019-04-18 50439
2019-04-19 60925
2019-04-20 51068
2019-04-21 53339
2019-04-22 63995
2019-04-23 58811
2019-04-24 55815
2019-04-25 22471
2019-04-26 26484
2019-04-27 65124
2019-04-28 56012
2019-04-29 63256
2019-04-30 70213
2019-05-01 76439
2019-05-02 72430
2019-05-03 73647
2019-05-04 66392
2019-05-05 66911
2019-05-06 74806
2019-05-07 70506
2019-05-08 70426
2019-05-09 71707
2019-05-10 74960
2019-05-11 76110
2019-05-12 73318
2019-05-13 68389
2019-05-14 78385
2019-05-15 76969
2019-05-16 75399
2019-05-17 79158
2019-05-18 79583
2019-05-19 12749
2019-05-20 72066
2019-05-21 80599
2019-05-22 80735
2019-05-23 78504
2019-05-24 77190
2019-05-25 75791
2019-05-26 74327
2019-05-27 30670
2019-05-28 83654
2019-05-29 83496
2019-05-30 73814
2019-05-31 83765
2019-06-01 79878
2019-06-02 77091
2019-06-03 82911
2019-06-04 83576
2019-06-05 81515
2019-06-06 36945
2019-06-07 54701
2019-06-08 83736
2019-06-09 60371
2019-06-10 63032
2019-06-11 85776
2019-06-12 83506
2019-06-13 81540
2019-06-14 85533
2019-06-15 71883
2019-06-16 81803
2019-06-17 86987
2019-06-18 42393
2019-06-19 79958
2019-06-20 88226
2019-06-21 81089
2019-06-22 85728
2019-06-23 79269
2019-06-24 88432
2019-06-25 88096
2019-06-26 81274
2019-06-27 79234
2019-06-28 77056
2019-06-29 67346
2019-06-30 74994
2019-07-01 92814
2019-07-02 94783
2019-07-03 94773
2019-07-04 90397
2019-07-05 83994
2019-07-06 70246
2019-07-07 75116
2019-07-08 93609
2019-07-09 95859
2019-07-10 43842
2019-07-11 65003
2019-07-12 94473
2019-07-13 81067
2019-07-14 74259
2019-07-15 57917
2019-07-16 82285
2019-07-17 84261
2019-07-18 81613
2019-07-19 77449
2019-07-20 56648
2019-07-21 46130
2019-07-22 82781
2019-07-23 83206
2019-07-24 59020
2019-07-25 34778
2019-07-26 22789
2019-07-27 50955
2019-07-28 23342
2019-07-29 74046
2019-07-30 69757
2019-07-31 26874
2019-08-01 59803
2019-08-02 67510
2019-08-03 49047
2019-08-04 46477
2019-08-05 65085
2019-08-06 66703
2019-08-07 50804
2019-08-08 69748
2019-08-09 67491
2019-08-10 54162
2019-08-11 43351
2019-08-12 24386
2019-08-13 63749
2019-08-14 65452
2019-08-15 32229
2019-08-16 71161
2019-08-17 72259
2019-08-18 72588
2019-08-19 81832
2019-08-20 82116
2019-08-21 56957
2019-08-22 82232
2019-08-23 86624
2019-08-24 85630
2019-08-25 81028
2019-08-26 87770
2019-08-27 83107
2019-08-28 88718
2019-08-29 65708
2019-08-30 86733
2019-08-31 90724
2019-09-01 89191
2019-09-02 92510
2019-09-03 74801
2019-09-04 27168
2019-09-05 33929
2019-09-06 16631
2019-09-08 52055
2019-09-09 68370
2019-09-10 18265
2019-09-11 75328
2019-09-12 32059
2019-09-13 57065
2019-09-14 48756
2019-09-15 82678
2019-09-16 89807
2019-09-17 92153
2019-09-18 92045
2019-09-19 91554
2019-09-20 94246
2019-09-21 86676
2019-09-22 41173
2019-09-23 92006
2019-09-24 93546
2019-09-25 92665
2019-09-26 92247
2019-09-27 93345
2019-09-28 89550
2019-09-29 86133
2019-09-30 88270
2019-10-01 88575
2019-10-02 27368
2019-10-03 75438
2019-10-04 94912
2019-10-05 83020
2019-10-06 82855
2019-10-07 21875
2019-10-08 81524
2019-10-09 85638
2019-10-10 81742
2019-10-11 92155
2019-10-12 84843
2019-10-13 84368
2019-10-14 79509
2019-10-15 85516
2019-10-16 84549
2019-10-17 85596
2019-10-18 89551
2019-10-19 87553
2019-10-20 79300
2019-10-21 84488
2019-10-22 88478
2019-10-23 87991
2019-10-24 89520
2019-10-25 84617
2019-10-26 67578
2019-10-27 65774
2019-10-28 67175
2019-10-29 71135
2019-10-30 76898
2019-10-31 76860
2019-11-01 77604
2019-11-02 68223
2019-11-03 67452
2019-11-04 78874
2019-11-05 78675
2019-11-06 74812
2019-11-07 68315
2019-11-08 65110
2019-11-09 60693
2019-11-10 40503
2019-11-11 58957
2019-11-12 68210
2019-11-13 39198
2019-11-14 45095
2019-11-15 15069
2019-11-16 45493
2019-11-17 11303
2019-11-18 37496
2019-11-19 40356
2019-11-20 42026
2019-11-21 47091
2019-11-22 56700
2019-11-23 54283
2019-11-24 24304
2019-11-25 42677
2019-11-26 52464
2019-11-27 46248
2019-11-28 46983
2019-11-29 44689
2019-11-30 38366
2020-07-01 105196
2020-07-02 107842
2020-07-03 102753
2020-07-04 98488
2020-07-05 104664
2020-07-06 106825
2020-07-07 91407
2020-07-08 105876
2020-07-09 102828
2020-07-10 90880
2020-07-11 103657
2020-07-12 57367
2020-07-13 4859
2020-07-14 85486
2020-07-15 106949
2020-07-16 102741
2020-07-17 99949
2020-07-18 98309
2020-07-19 60804
2020-07-20 72291
2020-07-21 100825
2020-07-22 46448
2020-07-23 10739
2020-07-24 76995
2020-07-25 102498
2020-07-26 94802
2020-07-27 52922
2020-07-28 68214
2020-07-29 31724
2020-07-30 92468
2020-07-31 95705
2020-08-01 34998
2020-08-02 11491
2020-08-03 17575
2020-08-04 49378
2020-08-05 28751
2020-08-06 51456
2020-08-07 78071
2020-08-08 40020
2020-08-09 12384
2020-08-10 23519
2020-08-11 50974
2020-08-12 78261
2020-08-13 79353
2020-08-14 72875
2020-08-15 26267
2020-08-16 66011
2020-08-17 73368
2020-08-18 82202
2020-08-19 84665
2020-08-20 85420
2020-08-21 78701
2020-08-22 40126
2020-08-23 80594
2020-08-24 90297
2020-08-25 87894
2020-08-26 40169
2020-08-27 32745
2020-08-28 62045
2020-08-29 33797
2020-08-30 52904
2020-08-31 87662
2020-09-01 87892
2020-09-02 13744
2020-09-03 71524
2020-09-04 115059
2020-09-05 113253
2020-09-06 54125
2020-09-07 3144
2020-09-08 104606
2020-09-09 75412
2020-09-10 107150
2020-09-11 61474
2020-09-12 44703
2020-09-13 118921
2020-09-14 106465
2020-09-15 111912
2020-09-16 88745
2020-09-17 110088
2020-09-18 118363
2020-09-19 117633
2020-09-20 110798
2020-09-21 108369
2020-09-22 112619
2020-09-23 111343
2020-09-24 111994
2020-09-25 114720
2020-09-26 115111
2020-09-27 109610
2020-09-28 107714
2020-09-29 113823
2020-09-30 71676
2020-10-01 82099
2020-10-02 75275
2020-10-03 97726
2020-10-04 86091
2020-10-05 93156
2020-10-06 100369
2020-10-07 103348
2020-10-08 105509
2020-10-09 104087
2020-10-10 104678
2020-10-11 95405
2020-10-12 97721
2020-10-13 97160
2020-10-14 92998
2020-10-15 92555
2020-10-16 92609
2020-10-17 94840
2020-10-18 89401
2020-10-19 95110
2020-10-20 98577
2020-10-21 96566
2020-10-22 92100
2020-10-23 84672
2020-10-24 77452
2020-10-25 80497
2020-10-26 92374
2020-10-27 95411
2020-10-28 95033
2020-10-29 92267
2020-10-30 97088
2020-10-31 89444
2020-11-01 32925
2020-11-02 86705
2020-11-03 69439
2020-11-04 74159
2020-11-05 85090
2020-11-06 91815
2020-11-07 84151
2020-11-08 62244
2020-11-09 73482
2020-11-10 81965
2020-11-11 86595
2020-11-12 88193
2020-11-13 90754
2020-11-14 81553
2020-11-15 69098
2020-11-16 87583
2020-11-17 81258
2020-11-18 44452
2020-11-19 34590
2020-11-20 60332
2020-11-21 60290
2020-11-22 34828
2020-11-23 58766
2020-11-24 61865
2020-11-25 64921
2020-11-26 64297
2020-11-27 58092
2020-11-28 38492
2020-11-29 32211
2020-11-30 49925
2020-12-01 53885
2020-12-02 55611
2020-12-03 51533
2020-12-04 50915
2020-12-05 42953
2020-12-06 40616
2020-12-07 49809
2020-12-08 47614
2020-12-09 50476
2020-12-10 53421
2020-12-11 53536
2020-12-12 42146
2020-12-13 14362
2020-12-14 28030
2020-12-15 28028
2020-12-16 27678
2020-12-17 32315
2020-12-18 30195
2020-12-19 24130
2020-12-20 23442
2020-12-21 37286
2020-12-22 42486
2020-12-23 42218
2020-12-24 41102
2020-12-25 28600
2020-12-26 37137
2020-12-27 37103
2020-12-28 46912
2020-12-29 35747
2020-12-30 22488
2020-12-31 24535
2021-01-01 22274
2021-01-02 23631
2021-01-03 21809
2021-01-04 32957
2021-01-05 29033
2021-01-06 22261
2021-01-07 5549
2021-01-08 8029
2021-01-09 9082
2021-01-10 11116
2021-01-11 19525
2021-01-12 12827
2021-01-13 19780
2021-01-14 32603
2021-01-15 32429
2021-01-16 22524
2021-01-17 18081
2021-01-18 18110
2021-01-19 26940
2021-01-20 36983
2021-01-21 17451
2021-01-22 34963
2021-01-23 43368
2021-01-24 50024
2021-01-25 54669
2021-01-26 26272
2021-01-27 45639
2021-01-28 22745
2021-01-29 24435
2021-01-30 28379
2021-01-31 38533
2021-02-01 41152
2021-02-02 31136
2021-02-03 31016
2021-02-04 20201
2021-02-05 37675
2021-02-06 41507
2021-02-07 35676
2021-02-08 34253
2021-02-09 41159
2021-02-10 46659
2021-02-11 37794
2021-02-12 38251
2021-02-13 51329
2021-02-14 44734
2021-02-15 32504
2021-02-16 23008
2021-02-17 23281
2021-02-18 30267
2021-02-19 45223
2021-02-20 60703
2021-02-21 71467
2021-02-22 54943
2021-02-23 45246
2021-02-24 54470
2021-02-25 53694
2021-02-26 67686
2021-02-27 76214
2021-02-28 63298
2021-03-01 2966
2021-03-02 51013
2021-03-03 62386
2021-03-04 66283
2021-03-05 76821
2021-03-06 61833
2021-03-07 72037
2021-03-08 71470
2021-03-09 72364
2021-03-10 77153
2021-03-11 74080
2021-03-12 67097
2021-03-13 79057
2021-03-14 72694
2021-03-15 73254
2021-03-16 71318
2021-03-17 82757
2021-03-18 85416
2021-03-19 98932
2021-03-20 25486
2021-03-21 55103
2021-03-22 75928
2021-03-23 85788
2021-03-24 91845
2021-03-25 94209
2021-03-26 97153
2021-03-27 20331
2021-03-28 32571
2021-03-29 74935
2021-03-30 98689
2021-03-31 113259
2021-04-01 116640
2021-04-02 110607
2021-04-03 14026
2021-04-04 94160
2021-04-05 110533
2021-04-06 114292
2021-04-07 114207
2021-04-08 105191
2021-04-09 113974
2021-04-10 110980
2021-04-11 113592
2021-04-12 28992
2021-04-13 84172
2021-04-14 98226
2021-04-15 108960
2021-04-16 82177
2021-04-17 71082
2021-04-18 100004
2021-04-19 108598
2021-04-20 113785
2021-04-21 119380
2021-04-22 116722
2021-04-23 116476
2021-04-24 118773
2021-04-25 127151
2021-04-26 122090
2021-04-27 103959
2021-04-28 115380
2021-04-29 105944
2021-04-30 83165
2021-05-01 41123
2021-05-02 115492
2021-05-03 122393
2021-05-04 24069
2021-05-05 125213
2021-05-06 121660
2021-05-07 88097
2021-05-08 73912
2021-05-09 114851
2021-05-10 93814
2021-05-11 130314
2021-05-12 130245
2021-05-13 128298
2021-05-14 128239
2021-05-15 36082
2021-05-16 2514
2021-05-17 60065
2021-05-18 127759
2021-05-19 133864
2021-05-20 67451
2021-05-21 78809
2021-05-22 128763
2021-05-23 115588
2021-05-24 122961
2021-05-25 93453
2021-05-26 120987
2021-05-27 74271
2021-05-28 78928
2021-05-29 63064
2021-05-30 92536
2021-05-31 115335
2021-06-01 110305
2021-06-02 130227
2021-06-03 41123
2021-06-04 131838
2021-06-05 127568
2021-06-06 116208
2021-06-07 121944
2021-06-08 129558
2021-06-09 126823
2021-06-10 82549
2021-06-11 120869
2021-06-12 116059
2021-06-13 103603
2021-06-14 128217
2021-06-15 97851
2021-06-16 139346
2021-06-17 115752
2021-06-18 78992
2021-06-19 122359
2021-06-20 114793
2021-06-21 138150
2021-06-22 124808
2021-06-23 126714
2021-06-24 134714
2021-06-25 140870
2021-06-26 105813
2021-06-27 92869
2021-06-28 106378
2021-06-29 111907
2021-06-30 122200
2021-07-01 138855
2021-07-02 137755
2021-07-03 51624
2021-07-04 34280
2021-07-05 137012
2021-07-06 141676
2021-07-07 120685
2021-07-08 120509
2021-07-09 133467
2021-07-10 108159
2021-07-11 83832
2021-07-12 127772
2021-07-13 127633
2021-07-14 122931
2021-07-15 103482
2021-07-16 104228
2021-07-17 104910
2021-07-18 93806
2021-07-19 95132
2021-07-20 120043
2021-07-21 117569
2021-07-22 114672
2021-07-23 113117
2021-07-24 91773
2021-07-25 80957
2021-07-26 113912
2021-07-27 113813
2021-07-28 108399
2021-07-29 111818
2021-07-30 113329
2021-07-31 90356
2021-08-01 41845
2021-08-02 99544
2021-08-03 117242
2021-08-04 117405
2021-08-05 118205
2021-08-06 117103
2021-08-07 109849
2021-08-08 74145
2021-08-09 126850
2021-08-10 130505
2021-08-11 126807
2021-08-12 105295
2021-08-13 133625
2021-08-14 126122
2021-08-15 117873
2021-08-16 114058
2021-08-17 82028
2021-08-18 118076
2021-08-19 143490
2021-08-20 137294
2021-08-21 40149
2021-08-22 119042
2021-08-23 46686
2021-08-24 40740
2021-08-25 119576
2021-08-26 120865
2021-08-27 84328
2021-08-28 132238
2021-08-29 119703
2021-08-30 140368
2021-08-31 24918
2021-09-01 120894
2021-09-02 138015
2021-09-03 152417
2021-09-04 147188
2021-09-05 137477
2021-09-06 73466
2021-09-07 14591
2021-09-08 138853
2021-09-09 144735
2021-09-10 140589
2021-09-11 135402
2021-09-12 127028
2021-09-13 141744
2021-09-14 143589
2021-09-15 145669
2021-09-16 145375
2021-09-17 149248
2021-09-18 128566
2021-09-19 112630
2021-09-20 104603
2021-09-21 77695
2021-09-22 116915
2021-09-23 145809
2021-09-24 151973
2021-09-25 143617
2021-09-26 139182
2021-09-27 126623
2021-09-28 89055
2021-09-29 57781
2021-09-30 145928
2021-10-01 138491
2021-10-02 136182
2021-10-03 135425
2021-10-04 75930
2021-10-05 119181
2021-10-06 79697
2021-10-07 116818
2021-10-08 70341
2021-10-09 122751
2021-10-10 36212
2021-10-11 122066
2021-10-12 136913
2021-10-13 146363
2021-10-14 145060
2021-10-15 128018
2021-10-16 83290

---

# CSV (df_rental) 불러오기

In [6]:
import pandas as pd

df_rental = pd.read_csv("/home/dan/dev_ws/EDA/project/data/Rental/rent_daily_station.csv", sep=",", encoding="utf-8")

df_rental

         대여소ID          날짜  대여량
0        ST-10  2024-01-01   35
1        ST-10  2024-01-02   38
2        ST-10  2024-01-03   20
3        ST-10  2024-01-04   31
4        ST-10  2024-01-05   27
...        ...         ...  ...
984374  ST-997  2024-12-27  105
984375  ST-997  2024-12-28   62
984376  ST-997  2024-12-29   53
984377  ST-997  2024-12-30  101
984378  ST-997  2024-12-31   87

[984379 rows x 3 columns]

# DB Table (rental_daily_station) 만들기

In [15]:
import mysql.connector

remote = mysql.connector.connect(
    host = "jinhyuk2db.c94oygiiukcg.ap-northeast-2.rds.amazonaws.com",
    port = 3306,
    user = "root",
    password = "jinhyuk2dacibul",
    database = "project1"
)

cursor = remote.cursor(buffered=True)

cursor.execute("CREATE TABLE rental_daily_station \
               (rental_station_id VARCHAR(10) NOT NULL, rental_date DATE, rental_count BIGINT NOT NULL)")

remote.commit()
remote.close()

# DB (rental_daily_station)에 집어넣기

In [16]:
import mysql.connector
from tqdm import tqdm

remote = mysql.connector.connect (
    host = "jinhyuk2db.c94oygiiukcg.ap-northeast-2.rds.amazonaws.com",
    port = 3306,
    user = "root",
    password = "jinhyuk2dacibul",
    database = "project1"
)

cursor = remote.cursor(buffered=True)

sql= """INSERT INto rental_daily_station VALUES (%s, %s, %s)"""

for i,row in tqdm(df_rental.iterrows(), total=len(df_rental)): 

    id = row['대여소ID']
    date = row['날짜']
    count = row['대여량']

    cursor.execute(sql, (id, date, count))

    # print(id, date, count)

    
remote.commit()
remote.close()

100%|██████████| 984379/984379 [3:11:42<00:00, 85.58it/s]